#nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #d1e7f7;
}


li{
  list-style: none;
  margin: 0 15px;
   
  font-size: 18px;  
  font-weight: 500;
}

a{
  text-decoration: none;
  color: #333;
}