

.container {
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  width: 720px;
  
  margin: 100px auto;

  
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #00bcd4;
}

form input[type="text"],
form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #2c2c2c;
  color: #fff;
}

form input::placeholder {
  color: #aaa;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #00bcd4;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0097a7;
}